= link_to "Home", root_path
= "|"
= link_to "Categories", categories_path
= "|"
- if current_user
  = link_to "Logout", session_path(current_user), method: :delete
- else
  = link_to "Login", new_session_path